// Variables including
// @@ Bootstrap theme overrides
// @@ Other custom variables

// Color system

$white: #fafafa !default;
$gray-100: #e6e8ea !default;
$gray-200: #e6e8ea !default;
$gray-300: #f4f4f4 !default;
$gray-400: #cccccc !default;
$gray-500: #cccdce !default;
$gray-600: #86898d !default;
$gray-700: #222629 !default;
$gray-800: #222629 !default;
$gray-900: #222629 !default;
$black: #22272c !default;

$blue: #359ecd !default;
$indigo: #274462 !default;
$purple: #274462 !default;
$pink: #e83e8c !default;
$red: #ff5f29 !default;
$orange: #ffedb2 !default;
$yellow: #fec400 !default;
$green: #2eb3b2 !default;
$teal: #20c997 !default;
$cyan: #359ecd !default;

$primary: $blue !default;
$secondary: $indigo !default;
$success: $blue !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-600 !default;
$text-muted: $gray-400 !default;

$linear-gradient: linear-gradient(151.75deg, #256d8d 15.83%, #274462 93.81%);
$body-bg: $white !default;
$body-color: $black !default;

// Fonts

$font-family-sans-serif: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * 0.875 !default;
// $line-height-lg:              1.5 !default;
// $line-height-sm:              1.5 !default;

$spacer: 1rem;
$headings-font-weight: 700 !default;
$headings-margin-bottom: $spacer * 2 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.1875 !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base * 0.875 !default;
$h6-font-size: $font-size-base * 0.75 !default;

$h1-letter-spacing: 1px;
$h2-letter-spacing: 0.3px;
$h3-letter-spacing: 0.4px;
$h4-letter-spacing: 0.2px;
$h5-letter-spacing: 0.2px;
$h6-letter-spacing: 0.6px;

// Borders

$border-width: 0 !default;
$border-color: $gray-300 !default;
$border-radius: 0.25rem;
$border-radius-lg: 0.25rem !default;
$border-radius-sm: 0.25rem !default;

// Buttons & Inputs

$input-btn-padding-y: 0.6875rem !default;
$input-btn-padding-x: 1.25rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: 1.25 !default;

$btn-font-weight: 300;

$input-btn-padding-y-sm: 0.47125rem !default;
$input-btn-padding-x-sm: 1.25rem !default;
$input-btn-font-size-sm: $font-size-sm !default;
$input-btn-line-height-sm: 1.25 !default;

$input-btn-padding-y-lg: 0.875rem !default;
$input-btn-padding-x-lg: 1.25rem !default;
$input-btn-font-size-lg: $font-size-base;
$input-btn-line-height-lg: 1.25 !default;

$input-btn-focus-width: 0 !default;
$input-btn-focus-color: transparent !default;
$input-btn-focus-box-shadow: 0;

$btn-disabled-opacity: 0.5 !default;
$btn-link-disabled-color: $gray-600 !default;

$spinner-border-width: 0.125em !default;
$spinner-border-width-sm: 0.115em !default;
$spinner-width: 1.25rem !default;
$spinner-width-sm: 1rem !default;

// Forms
$input-bg: $gray-100 !default;
$input-box-shadow: none !default;
$input-focus-bg: lighten($gray-400, 5%) !default;
$input-focus-box-shadow: none !default;
$form-group-margin-bottom: 1.5rem !default;
$form-feedback-icon-valid: url("data:image/svg+xml,<svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11.601 0.39935C11.933 0.731296 11.933 1.26949 11.601 1.60143L4.67175 8.53072C4.30075 8.90172 3.69924 8.90172 3.32824 8.53072L0.398953 5.60143C0.0670075 5.26949 0.0670075 4.7313 0.398953 4.39935C0.730899 4.0674 1.26909 4.0674 1.60103 4.39935L3.99999 6.79831L10.399 0.39935C10.7309 0.0674042 11.2691 0.0674042 11.601 0.39935Z' fill='#{$success}'/></svg>") !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: 2rem !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between: 1rem !default;

// $modal-dialog-margin:               .5rem !default;
// $modal-dialog-margin-y-sm-up:       1.75rem !default;
$modal-backdrop-bg: $gray-900 !default;
$modal-backdrop-opacity: 0.6 !default;
$modal-header-padding-y: 2rem !default;
$modal-header-padding-x: 2rem !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x
  $modal-header-padding-y/2; // Keep this for backwards compatibility

$modal-xl: 1110px !default;
$modal-lg: 920px !default;
$modal-md: 635px !default;
$modal-sm: 350px !default;

$modal-fade-transform: none !default;
// $modal-show-transform:              none !default;
$modal-transition: none ease-out !default;
// $modal-scale-transform:             scale(1.02) !default;
$transition-collapse: height 0s !default;
